body {
	background-color: #CAE8F2;
}

#container {
	width: 100%;
	height: 100%;
}

header {
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	text-align: center;
	font-family: Cambria;
	font-size: 42px;
	font-weight: bold;
	background-color: #062F4F;
}

#content div {
	background: green;
}	

/* ABOUT ME IMAGE */ 

#aboutMeImage {
	position: relative;
	margin-left: 35%;
	width: 15%;
	height: auto;
	float: left;
	margin-top: 5em;
}

#aboutMeImage img {
	width: 100%;
	height: auto;
}

#aboutMeImage:hover img {
	opacity:0.5;
}

#aboutMeImage:hover section {
	opacity: 1;
}

/* 1 AND 2 IMAGE  */

#oneAndTwoImage {
	position: relative;
	width: 15%;
	height: auto;
	float: left;
	margin-top: 5em;
}

#oneAndTwoImage img {
	width: 100%;
	height: auto;
}

#oneAndTwoImage:hover img {
	opacity: 0.5;
}

#oneAndTwoImage:hover section {
	opacity: 1;
}

/* 3 AND 4 IMAGE */

#threeAndFourImage {
	position: relative;
	margin-left: 35%;
	width: 15%;
	height: auto;
	float: left;
}

#threeAndFourImage img {
	width: 100%;
	height: auto;
}

#threeAndFourImage:hover img {
	opacity: 0.5;
}

#threeAndFourImage:hover section {
	opacity: 1;
}

/* SELF ASSESSMENT IMAGE */

#selfAssessImage {
	position: relative;
	width: 15%;
	height: auto;
	float: left;
}

#selfAssessImage img {
	width: 100%;
	height: auto;
}

#selfAssessImage:hover img {
	opacity: 0.5;
}

#selfAssessImage:hover section {
	opacity: 1;
}

/* OVERLAY TEXT */

#overlayText {
	position: absolute;
    top: 8px;
    left: 16px;
	opacity: 0;
}

#overlayText h1 {
	font-family: Courier;
	text-decoration: underline;
	font-size: 2vw;
}

#overlayText p {
	font-family: Courier;
	font-weight: bold;
	font-size: 1vw;
}