body, html {
	padding: 0;
	margin: 0;
}

body {
	background: #CAE8F2;
}

header {
	text-align: center;
	font-family: Cambria;
	font-size: 2.5em;
	color: white;
	background: #062F4F;
	padding: 10px;
}

nav {
	width: auto;
	height: 40px;
	text-align: center;
	background: black;
}

nav ul {
	margin: 0;
}

nav ul li {
	display: inline;
	position: relative;
	top: 10px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding: 5px;
	margin: 5px;
	color: white;
}

nav ul li:hover {
	color: black;
	background: #D9DCE0;
	border-color: #D9DCE0;
}

#content {
	background-color: white;
	margin: 2%;
	padding: 1%;
	box-sizing: border-box;
}

#content h1 {
	color: black;
	font-family: Cambria;
	text-decoration: underline;
}

#content article {
	width: 50%;
}

#content img {
	float: right;
}